---
name: Grammar::Improver
permissions:
  contents: read

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  # workflow_dispatch:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl-version: ['5.30', '5.32', '5.34']
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl-version }}

      - name: Install dependencies
        run: |
          cpanm --notest --quiet --installdeps .

      - name: Run tests
        run: prove -lr t
